---
import { Icon } from "astro-icon/components";
import Content from "./Content.astro";

interface Props {
  title?: string;
  body?: string;
  colSpan?: string;
  rowSpan?: string;
  href?: string;
}

const { title, body, colSpan, rowSpan, href } = Astro.props;
---

<div
  class={`bg-white dark:bg-darkslate-500 shadow-2xl shadow-gray-200 dark:shadow-none rounded-3xl p-6 border border-gray-300 dark:border-darkslate-100 align-start flex-none justify-start relative transform w-full transition duration-75 ease-in-out col-span-1 h-auto ${
    colSpan || "md:col-span-2"
  } ${rowSpan || ""}`}
>
  {
    href ? (
      <a href={href} class="h-full w-full ddd">
        <Icon
          name="ri:arrow-right-up-line"
          class="h-6 float-right group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform ease-in-out duration-100"
        />
        <Content title={title} body={body}>
          <slot />
        </Content>
      </a>
    ) : (
      <Content title={title} body={body}>
        <slot />
      </Content>
    )
  }
</div>
