---
import { Image } from "astro:assets";
import Card from "./Card/index.astro";

const { projects, title } = Astro.props;
---

<Card title={title} colSpan="sm:col-span-3">
  {
    projects.map((project: any) => (
      <>
        <div class="flex flex-row gap-5 mt-5">
          <Image
            width={100}
            height={100}
            src={project.data.image}
            alt={project.data.title}
            class="rounded-2xl max-w-24 max-h-24"
          />
          <div class="max-h-24 overflow-hidden text-ellipsis text-pretty">
            <h1 class="font-bold text-xl">{project.data.title}</h1>
            <p class="font-light text-ellipsis">{project.data.description}</p>
          </div>
        </div>
        {project.data.tags.map((tag: string) => (
          <span class="inline-block px-3 py-1 mt-2 mr-2 text-sm font-semibold text-gray-700 dark:text-gray-500 bg-gray-200 dark:bg-gray-800 rounded-full">
            {tag}
          </span>
        ))}
      </>
    ))
  }
</Card>
